{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ComputerGame/computerGame_style.css' %}">
{% endblock %}

{% block title %}Games list{% endblock %}

{% block content %}
    <h1 class="header-home">Games list</h1>
    <ul>
        {% for game in all_games %}
            <div class="game-wrapper">
                <a href="{{ game.id }}/"><b>{{ game.name }}</b></a>
                <a href="{% url 'game-detail' game.id %}"> </a>
                {{ game.name }} / {{ game.added_on }}
            </div>


        {% endfor %}
    </ul>


    <a class="add-new-game-link" href={% url 'game-create' %}>Add a new game</a><br>
{% endblock %}