{% extends "base.html" %}

{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <h1 class="header-home">Home</h1>
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'games-list' %}">Show me the games</a></p>
            <a href="{% url 'logout' %}">logout</a>
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <h1 class="header-home">Home</h1>
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">login</a>
        {% endblock %}
    {% endif %}
{% endblock %}