{% extends 'home.html' %}

{% block title %}Game detail{% endblock %}

{% block content %}
    <h1 class="header-home">Game detail</h1>

    <table>
        <tr>
            <td><b>name:</b></td>
            <td>{{ that_game.name }}<br></td>
        </tr>
        <tr>
            <td><b>description:</b></td>
            <td>{{ that_game.description }}<br></td>
        </tr>
        <tr>
            <td><b>added on:</b></td>
            <td>{{ that_game.added_on }}<br></td>
        </tr>

        <tr>
            <td><b>added by:</b></td>
            <td>{{ that_game.user.username }}<br></td>
        </tr>
    </table>

    {% for comment in comments_for_that_game %}
        <b style="color: darkgreen">{{ comment.user.username }} on {{ comment.timestamp }}</b><br>
        {{ comment.text }}<br><br>
    {% endfor %}
    <br>

    <b style="color: crimson">Do you have a comment for this game?</b><br>
    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add comment</button>
    </form>


    <a href="{% url 'game-confirm-delete' that_game.id %}">Delete this game</a>
    <br>
    <a href="{% url 'games-list' %}">Back to all games</a>
{% endblock %}